.button{
    color: #205375;
    border: 1px solid #205375;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
    margin: 5px 0;
    transition: 0.3s;
    width: 215px;
}
.button:hover{
    border: 1px solid #F66B0E;
    background-color: #F66B0E;
    color: white;
    border-radius: 15px;
}